---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource enrolls a certificate on Horizon, either via centralized or decentralized enrollment.
To enroll with the decentralized method you just need to edit the `csr` argument.
The argument `key_file` is required for a centralized enroll, but forbidden in decentralized enroll.

## Example Usage

### Centralized enroll

{{ tffile "examples/resources/horizon_certificate/resource_centralized.tf" }}

### Decentralized enroll

{{ tffile "examples/resources/horizon_certificate/resource_decentralized.tf" }}


{{ .SchemaMarkdown | trimspace }}