---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource creates and enroll a certificate on Horizon, with centralized or decentralized method. 
To enroll with the decentralized method, you just need to edit the `csr` argument.

{{ if .HasExample -}}
## Example Usage

{{ tffile "examples/resources/horizon_certificate/resource.tf" }}
{{- end }}
{{ .SchemaMarkdown | trimspace }}
