---
layout: ""
page_title: "Provider: Horizon"
description: |-
  The Horizon Provider
---

# Horizon Provider

The Horizon Provider is used to manage the life cycle of certificates.

## Example Usage

You can authenticate with credentials

{{ tffile "examples/provider/provider_creds.tf" }}

Or with a certificate and a key

{{ tffile "examples/provider/provider_cert.tf" }}


{{ .SchemaMarkdown | trimspace }}