---
layout: ""
page_title: "Provider: Horizon"
description: |-
  The Horizon Provider
---

# Horizon Provider

The Horizon Provider is used to manage the life cycle of certificates.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}